$blue: rgb(51, 183, 206);
$light-blue: rgb(233, 239, 240);
$white: rgb(243, 243, 243);
$gray: rgb(48, 56, 59);
$light-gray: rgb(178, 188, 192);

$border-radius: 15px;
$box-shadow: 0 0 10px 1px $light-gray;